<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Draw and Guess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>

<body>
<p>
    Username: <b><span id="user_name">{{ user_name }}</span></b>&emsp;
    GameId: <b><span id="game_id">{{ game_id }}</span></b>&emsp;
    Drawer: <b><span id="drawer_name">{{ drawer_name }}</span></b>&emsp;
    <br><br>
    Round: <b><span id="round_id">{{ round_id }}</span></b>
</p>

<div id="image_display"></div>
<br>
    
<font size="6">
    <div id="guide_display">
        {% if user_name == drawer_name %}
            Your are the Drawer! Please enter a sentence...
        {% else %}
            Drawer <b> {{ drawer_name }} </b> is typing a sentence...
        {% endif %}
    </div>
</font>

<br>
<div id="log_display" style="width:600px;height:400px;line-height:1em;overflow:auto;padding:5px;border:4px double"></div>
    
    
<br>
<form action="" method="POST">
    <input type="text" id="input_sentence" placeholder="Enter a sentence" style="width: 600px"/>
    <input type="submit"/>
</form>

<br><br>
<h2>Leaderboard</h2>
<div id="game_leaderboard"></div>

<br><br><br><br><br><br><br><br>
<div id="log_display" style="width:600px;height:100px;line-height:1em;overflow:auto;padding:5px;border:4px double;background-color:#E8E8E8">
    <h2>Control Panel</h2>
    <label for="models">Choose a model:</label>
    <select id="model_name">
      <option value="dalle_mini">DALL·E mini (torchserve)</option>
      <option value="dalle_mega">DALL·E mega (torchserve)</option>
    </select>
</div>
    
<script type="text/javascript">
    var game_id = $('#game_id').text()
    var user_name = $('#user_name').text()
    var drawer_name = $('#drawer_name').text()
    if (drawer_name != user_name) {
        $("#input_sentence").prop("disabled", true)
    }
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('join-room-event', {game_id: game_id, user_name: user_name})
    })
    
    $('form').on('submit', function(e) {
      e.preventDefault()
      var sentence = $('#input_sentence').val()
      // as #drawer_name might be updated, we need to get the lastest value
      var drawer_name = $('#drawer_name').text()
      if (drawer_name == user_name) {
          var model_name = $('#model_name').val()
          console.log(`selected model: ${model_name}`)
          socket.emit('drawer-submit-event', {
              game_id: game_id,
              drawer_name: user_name,
              sentence: sentence,
              model_name: model_name,
          })
      } else {
         socket.emit('guesser-submit-event', {
              game_id: game_id,
              user_name: user_name,
              sentence: sentence,
          })
      }

      $('#input_sentence').val('').focus()
    })

    socket.on('drawer-submit-event-response', function(msg) {
        console.log(msg)
        $('#image_display').html('<img width="400" height="400" src="/static/loading_img.gif" alt="" />')
        $('#guide_display').text('AI is drawing!')
        // guessers can start typing now
        $("#input_sentence").prop("disabled", false)
        
        $('#log_display').append(
            `<div>Drawer <b>${msg.drawer_name}</b>: I submitted a sentence</div>`
        )
        $('#log_display').scrollTop($('#log_display')[0].scrollHeight)

    })

    socket.on('ai-returns-image-event', function(data) {
        $('#image_display').html("<img width='600' height='400' src='data:image/png;base64, " + data + "'/>")

        var drawer_name = $('#drawer_name').text()
        if (drawer_name == user_name) {
            display = "Waiting for guessers to enter their sentences"
        } else {
            display = "Enter your guess!"
        }
        $('#guide_display').text(display)
    })

    socket.on('guesser-submit-event-response', function(msg) {
        console.log(msg)
        $('#log_display').append(
            `<div>Guesser <b>${msg.user_name}</b>: ${msg.sentence} &emsp; (score <b style="color: blue">${msg.score}</b>)</div>`
        )

        if (msg.is_round_end) {
            if (msg.is_drawer_win) {
                $('#log_display').append(
                    `<div>Drawer <b>${msg.drawer_name}</b>: I got score <b style="color: blue">${msg.drawer_score}</b> as no one guessed my sentence: <b style="color: blue">${msg.sentence}</b></div>`
                )
            } else {
                $('#log_display').append(
                    `<div>Drawer <b>${msg.drawer_name}</b>: I got score <b style="color: blue">${msg.drawer_score}</b> as you guessed my sentence: <b style="color: blue">${msg.sentence}</b></div>`
                )
            }
            $('#log_display').append(`<div style="color:red;">Round ${msg.round_id} ended!</div><br>`)
        }
        $('#log_display').scrollTop($('#log_display')[0].scrollHeight)
        
        $('#game_leaderboard').empty()
        $('#game_leaderboard').append(`<div>Player &emsp;&emsp;&emsp; Score</div>`)
        for (let i = 0; i < msg.game_leaderboard.length; i++) {
            $('#game_leaderboard').append(
                `<div>${msg.game_leaderboard[i][0]} &emsp;&emsp;&emsp;&emsp;&emsp; ${msg.game_leaderboard[i][1]}</div>`
            )
        }
    })

    // Refresh page to the next round
    socket.on('start-new-round-event', function(msg) {
        $('#round_id').text(msg.round_id)
        $('#drawer_name').text(msg.drawer_name)
        
        $('#log_display').append(`<div>Round ${msg.round_id} started!</div>`)
        $('#log_display').scrollTop($('#log_display')[0].scrollHeight)
        
        if (msg.drawer_name != user_name) {
            $("#input_sentence").prop("disabled", true)
            $('#guide_display').html(`Drawer <b>${msg.drawer_name}</b> is typing a sentence...`)
        } else {
            $('#guide_display').html(`Your are the Drawer! Please enter a sentence...`)
        }
    })

</script>

</body>
</html>
