<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Draw and Guess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>

<body>
<h1>
    Username: <span id="user_name">{{ user_name }}</span>
    <br>
    GameId: <span id="game_id">{{ game_id }}</span>
    <br>
    Round: <span id="round_id">{{ round_id }}</span>
    <br>
    Drawer: <span id="drawer_name">{{ drawer_name }}</span>
</h1>

<div id="image_display"></div>
<div id="log_display">Waiting for drawer {{ drawer_name }} to enter a sentence...</div>

<form action="" method="POST">
    <input type="text" class="sentence" placeholder="Enter a sentence" style="width: 600px"/>
    <input type="submit"/>
</form>

<h2>Leaderboard</h2>
<div id="game_leaderboard"></div>
    
<label for="models">Choose a model:</label>

<select id="model_name">
  <option value="dalle_mini">DALL·E mini (torchserve)</option>
  <option value="dalle_mega">DALL·E mega (torchserve)</option>
</select>

<script type="text/javascript">
    var game_id = $('#game_id').text()
    var user_name = $('#user_name').text()

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    $('form').on('submit', function(e) {
      e.preventDefault()
      var sentence = $('input.sentence').val()
      var drawer_name = $('#drawer_name').text()
      if (drawer_name == user_name) {
          var model_name = $('#model_name').val()
          console.log(`selected model: ${model_name}`)
          socket.emit('drawer-submit-event', {
              game_id: game_id,
              user_name: user_name,
              sentence: sentence,
              model_name: model_name,
          })
      } else {
         socket.emit('guesser-submit-event', {
              game_id: game_id,
              user_name: user_name,
              sentence: sentence
          })
      }

      $('input.sentence').val('').focus()
    })

    socket.on('drawer-submit-event-response', function(msg) {
      console.log(msg)
      if (typeof msg !== 'undefined') {
          $('#log_display').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.sentence + '</div>')
      }
    })

    socket.on('ai-returns-image-event', function(data) {
        $('#image_display').html("<div><img width='600' height='400' src='data:image/png;base64, " + data + "'/></div>")
    })

    socket.on('round-end-event', function(data) {
        var round_id = data.round_id
        $('#log_display').append(`<div>Round ${round_id} ended!</div>`)
    })

    socket.on('guesser-submit-event-response', function(msg) {
        console.log(msg)
        $('#log_display').append(
            `<div>Guesser: <b>${msg.user_name}</b> score: ${msg.score} Sentence: ${msg.sentence}</div>`
        )

        if (msg.is_round_end) {
            if (msg.is_drawer_win) {
                $('#log_display').append(
                    `<div>Drawer <b>${msg.drawer_name}</b> gets score: ${msg.drawer_score} because no one guessed the sentence: ${msg.sentence}</div>`
                )
            } else {
                $('#log_display').append(
                    `<div>Drawer <b>${msg.drawer_name}</b> gets score: ${msg.drawer_score} because the sentence is guessed: ${msg.sentence}</div>`
                )
            }

            $('#log_display').append(`<div>Leaderboard for round ${msg.round_id}</div>`)
            for (let i = 0; i < msg.round_leaderboard.length; i++) {
                $('#log_display').append(
                    `<div>${msg.round_leaderboard[i][0]} &emsp;&emsp;&emsp;&emsp;&emsp; ${msg.round_leaderboard[i][1]}</div>`
                )
            }
        }

        $('#game_leaderboard').empty()
        $('#game_leaderboard').append(`<div>Player &emsp;&emsp;&emsp; Score</div>`)
        for (let i = 0; i < msg.game_leaderboard.length; i++) {
            $('#game_leaderboard').append(
                `<div>${msg.game_leaderboard[i][0]} &emsp;&emsp;&emsp;&emsp;&emsp; ${msg.game_leaderboard[i][1]}</div>`
            )
        }
    })

    // Refresh page to the next round
    socket.on('start-new-round-event', function(msg) {
        $('#log_display').append(`<br><br><div>Started round ${msg.round_id}</div>`)
        $('#log_display').append(`<div>Waiting for drawer ${msg.drawer_name} to enter a sentence</div>`)
        $('#round_id').text(msg.round_id)
        $('#drawer_name').text(msg.drawer_name)
    })

</script>

</body>
</html>
