<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Draw and Guess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<h1>Welcome to AI Draw and Guess!</h1>

<form action="" method="POST">
    <input type="text" class="user_name" placeholder="Enter your name"/>
    <input type="submit"/>
</form>
    
<script type="text/javascript">
    $('form').on('submit', function(e) {
        e.preventDefault()
        let user_name = $('input.user_name').val()
        console.log(user_name)
        window.location = 'welcome' + "/" + user_name
    })

</script>
</body>
</html>
